<nav class="navbar">
    <label class="logo">DTPC</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">Book Tickets</a></li>
      <li><a href="/destinations">Destinations Near Me</a></li>
      <li><a href="/parking-slots">Parkings Near Me</a></li>
      <li><a href="">Signup</a></li>
      <li><a href="/auth/signin">Signin</a></li>
    </ul>
  </nav>