<nav class="navbar">
    <label class="logo">DTPC</label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="../../views/ticket/index.html">Book Tickets</a></li>
      <li><a href="../../views/destination/index.html">Destinations Near Me</a></li>
      <li><a href="../../views/parking/index.html">Parkings Near Me</a></li>
      <li><a href="../../views/auth/signup.html">Signup</a></li>
      <li><a href="../../views/auth/signin.html">Signin</a></li>
    </ul>
  </nav>